# Last match in file takes precedence.

# C# code
/Content.*/ @emberfall-14/maintainers

# Any assets
/Resources/ @emberfall-14/maintainers

# Server config files
/Resources/ConfigPresets/ @MilonPL

# YML files
/Resources/*.yml @emberfall-14/yaml-maintainers
/Resources/**/*.yml @emberfall-14/yaml-maintainers

# Maps
/Resources/Maps/ @emberfall-14/maptainers
/Resources/Prototypes/Maps/ @emberfall-14/maptainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @emberfall-14/maptainers

# Server rules
/Resources/ServerInfo/Guidebook/DeltaV/Rules/ @MilonPL

# Tools and scripts
/Tools/ @MilonPL

# Workflows, codeowners, templates, etc.
/.github/ @MilonPL

# Standalone files in the root repo
/* @MilonPL
